{% extends "base.html" %}

{% block title %}
Bienvenido
{% endblock title %}

{% block titulo %}
<h1>Cenabast: </h1>
{% endblock titulo %}

{% block content %}
  <h4>Mejora en la eficiencia y cuidado del medio ambiente</h4>
{% endblock content %}


{% block parrafo %}

   <p class="lead text-bg-dark"><em>
    El control de ruta o vitacora para los vehículos internos de Cenabast se ha actualizado
    para mejorar la gestión de ahorro de energía y reducir el uso innecesario de
    combustible. Ahora, los parámetros que antes se registraban en papel se
    ingresan de manera digital, lo que permite una mayor precisión y rapidez en la
    recopilación de datos. Además,de mejorar en la eficiencia
    del transporte del personal interno. Con estas medidas, Cenabast busca
    contribuir al cuidado del medio ambiente y optimizar sus recursos en beneficio
    de la institución y sus trabajadores.</em>
</p>

{% endblock parrafo %}

